header {
    border-color: red;
}

ul.flex-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end; 
}

li.btn-header {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #505353;
}

li.btn-header:hover {
    background-color: #B2D235;
    color:#FEFFFF;
    border-radius: 17px;
    text-decoration: underline;
}

.banner{
    align-items: center;
    width: max-content;    
    background-image: url(".../image/Hapo_Learn_Banner.png");
}

.text-banner {
    font-family: UTM BryantLG;
}

.text-banner.big {
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -0.05em;
}

.text-banner.medium {
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #11114E;
    border: 1px solid #11114E;
}

.btn-banner.small {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #505353;
}

.text-banner.btn{
   font-weight: bold;
   font-size: 30px;
   line-height: 37px;
   letter-spacing: -0.05em;
   color: #FFFFFF;
   border: 0.3px solid #FFFFFF
}

.btn-banner {
    background-color: #B2D235;
    color:#FEFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}

.btn-banner:hover {
    text-decoration: underline;
}