header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-ul-content {
  display: flex;
  align-items: center;
}

.header-btn {
  font: bold 14px 'Open Sans';
  line-height: 19px;
  text-transform: uppercase;
  color: #505353;
  padding: 10px 12px;
}

.header-btn:hover {
  color: #FFFFFF;
  background-color: #B2D235;
  border-radius: 17px;
  text-decoration: underline;
}

.header-img-hapo-learn {
  width: 340px;
  height: 70px;
}

.banner {
  background-image: url('../image/hapo_learn_banner.png');
  display: flex;
  align-items: center;
  align-content: space-around;
  padding-left: 4%;
  height: 655px;
}

.banner-text,
.footer-text,
.why-hapo {
  font-family: "utm-bryantlg";
}

.banner-text.big {
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -0.05em;
}

.banner-text.medium {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #11114E;
}

.banner-text.small {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.05em;
  color: #505353;
}

.banner-text.btn {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  background-color: #B2D235;
  padding: 8px 50px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

.banner-img-cu {
  width: 54px;
  height: 48px;
}

footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: space-around;
  width: 100%;
}

.footer-div-content-grey {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  height: auto;
  background-color: #505353;
  background-size: cover;
  padding-top: 5%;
}

.footer-ul-content {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
}

.footer-img-content {
  display: flex;
  flex-flow: row wrap;
}

.footer-text {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 25px;
}

.footer-text.list {
  line-height: 45px;
}

.footer-text.list:hover {
  text-decoration: underline;
}

.footer-text.list.big {
  font-size: 23px;
}

.footer-text.small {
  font-size: 15px;
  text-align: center;
}

.footer-img-hapo-learn {
  width: 292px;
  height: 60px;
}

.footer-link-img {
  width: 50px;
  height: 50px;
  transition: transform .2s;
}

.footer-link-img:hover {
  width: 60px;
  height: 60px;
  transform: scale(1.5);
}

.footer-div-content-back {
  margin-top: 5%;
  width: 100%;
  height: 38px;
  background-color: #454545;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course,
.other-course,
.feedback,
.statistic {
  margin-top: 5%;
  background-color: #FFFFFF;
  width: 100%;
}

.course,
.other-course-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.course {
  background-image: (rgba(229, 229, 229, 1), rgba(255, 255, 255, 0));
  height: 630px;
}

.other-course-box,
.course-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 0 2%;
  width: 25%;
  height: 470px;
  background: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.course-box {
  height: 470px;
}

.other-course-box-background,
.course-box-background {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0 0;
}

.course-box-background {
  height: 215px;
}

.course-box-background.left {
  background: #3F6185;
}

.course-box-background.middle {
  background: #DC594C;
}

.course-box-background.right {
  background: #556598;
}

.course-img-html-css {
  width: 226px;
  height: 125px;
}

.course-img-laravel {
  width: 183.88px;
  height: 125px;
}

.course-img-php {
  width: 226px;
  height: 125px;
}

.other-course-text-big,
.course-text-big {
  margin: 5% 0 3%;
  font: bold 30px/37px "utm-bryantlg";
  letter-spacing: -0.05em;
  color: #B2D235;
  text-shadow: 0.3px #D2D235;
  text-align: center;
}

.other-course-text-small,
.course-text-small {
  align-self: center;
  overflow: auto;
  font: bold 14px/20px "utm-bryantlg";
  letter-spacing: -0.05em;
  color: #B2D235;
  text-shadow: 0.3px #D2D235;
  text-align: center;
  letter-spacing: -0.05em;
  color: #505353;
}

.course-text-small {
  width: 294px;
  height: 80px;
}

.other-course-btn-content,
.course-btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-course-btn,
.course-btn {
  width: 48%;
  font: bold 18px/22px "utm-bryantlg";
  letter-spacing: -0.05em;
  color: #FFFFFF;
  text-shadow: 0.3px #FFFFFF;
  text-align: center;
  background-color: #B2D235;
  padding: 1% 0;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  border-radius: 22px;
}

.other-course-btn:hover,
.course-btn:hover {
  text-decoration: underline;
}

.other-course {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 0 10%;
}

.other-course-content {
  margin-top: 3%;
  height: 395px;
}

.other-course-box {
  margin-bottom: 3%;
  height: 395px;
}

.other-course-box-background {
  height: 194px;
}

.other-course-box-background.left {
  background: #24ABE2;
}

.other-course-box-background.middle {
  background: #E14E40;
}

.other-course-box-background.right {
  background: #1B75BB;
}

.other-course-img-css {
  width: 198px;
  height: 100px;
}

.other-course-img-ruby {
  width: 245px;
  height: 86.14px;
}

.other-course-img-java {
  width: 258px;
  height: 159px;
}

.other-course-text-small {
  width: 294px;
  height: 42px;
}

.other-course-link {
  font: bold 40px/49px "utm-bryantlg";
  letter-spacing: -0.02em;
  color: #90AB26;
  text-align: center;
  text-shadow: 2px #90AB26;
}

.other-course-link:hover {
  text-decoration: underline;
}

.why-hapo {
  background: url('../image/nen_den.jpeg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

.why-hapo-text-img-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-hapo-text-content {
  color: #FFFFFF;
  font: bold 70px "utm-bryantlg";
  line-height: 86px;
  letter-spacing: -0.02em;
  margin: -10% 0 0 20%;
  align-self: flex-end;
  text-shadow: 1px #FFFFFF;
}

.why-hapo-ul-content {
  font-size: 20px;
  line-height: 45px;
  margin-left: 5%;
}

.why-hapo-img-rotate-computer {
  width: 478.32px;
  height: 478.32px;
  margin: -22% 0 0 -18%;
  transform: rotate(17.15deg);
}

.why-hapo-img-content {
  width: 50%;
}

.why-hapo-img-computer {
  width: 792px;
  height: 544px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  align-items: center;
}

.other-course-text-title,
.feedback-text-big,
.statistic-text-big {
  font: bold 80px "utm-bryantlg";
  line-height: 98px;
  letter-spacing: -0.02em;
  color: #11114E;
  text-align: center;
  text-shadow: 2px #11114E;
}

.other-course-text-title hr,
.feedback-text-big hr,
.statistic-text-big hr {
  width: 480px;
  height: 6px;
  background-color: #B2D235;
  border: 2px solid #B2D235;
  border-radius: 3px;
  margin-top: 2%;
}

.feedback-text-big hr{
  width: 328px;
}

.statistic-text-big hr {
  width: 279px;
}

.feedback {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-bottom: 3%;
}

.feedback-text-slogan {
  font: 25px/31px "utm-bryantlg";
  text-align: center;
  letter-spacing: -0.02em;
  color: #505353;
  padding: 2% 0 3%;
}

.feedback-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 10%;
}

.feedback-people-content {
  display: flex;
  flex-flow: column wrap;
}

.feedback-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-textbox-box {
  width: 45%;
  height: auto;
}

.feedback-textbox-text {
  position: absolute;
  overflow: auto;
  width: 497px;
  height: 89px;
  font: 16px/20px "utm-bryantlg";
  letter-spacing: -0.05em;
  color: #000000;
}

.feedback-user {
  padding-left: 5.5%;
}

.feedback-ava {
  float: left;
  margin: 0 5% 0 0.5%;
  width: 60px;
  height: 60px;
}

.feedback-text-user-name {
  font: bold 20px/25px "utm-bryantlg";
  color: #11114E;
  -webkit-text-stroke: 0.5px #11114E;
}

.feedback-text-course-name {
  font: bold 16px/20px "utm-bryantlg";
  color: #505353;
}

.feedback-btn-right {
  align-self: left;
  width: 30px;
  height: 30px;
}

.feedback-btn-left {
  align-self: right;
  width: 30px;
  height: 30px;
}

.half-stars-example {
  display: inline-flex;
}

.half-stars-example .rating-group {
  display: inline-flex;
  margin-left: -6%;
}

.half-stars-example .rating-icon {
  pointer-events: none;
}

.half-stars-example .rating-input {
  position: absolute !important;
  left: -9999px !important;
}

.half-stars-example .rating-label {
  cursor: pointer;
  padding: 0 0.2em;
  font-size: 14px;
  line-height: 22px;
  -webkit-text-stroke: 2px #F2C54F;
}

.half-stars-example .rating-label-half {
  padding-right: 0;
  font-size: 12.5px;
  margin-right: -1.45em;
  z-index: 2;
  -webkit-text-stroke: 0px #F2C54F;
}

.half-stars-example .rating-icon-star {
  color: #F2C54F;
}

.half-stars-example .rating-icon-none {
  color: #FFFFFF;
}

.half-stars-example .rating-input-none:checked+.rating-label .rating-icon-none {
  color: red;
}

.half-stars-example .rating-input:checked~.rating-label .rating-icon-star {
  color: #FFFFFF;
}

.half-stars-example .rating-group:hover .rating-label .rating-icon-star,
.half-stars-example .rating-group:hover .rating-label-half .rating-icon-star {
  color: #F2C54F;
}

.half-stars-example .rating-input:hover~.rating-label .rating-icon-star,
.half-stars-example .rating-input:hover~.rating-label-half .rating-icon-star {
  color: #FFFFFF;
}

.half-stars-example .rating-group:hover .rating-input-none:not(:hover)+.rating-label .rating-icon-none {
  color: #FFFFFF;
}

.half-stars-example .rating-input-none:hover+.rating-label .rating-icon-none {
  color: red;
}
/*end rating star*/

.join-banner {
  background: url("../image/nen_xanh_hoa_tiet.png") no-repeat;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}

.join-banner-text {
  font: bold 60px "utm-bryantlg";
  line-height: 74px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-shadow: 1px #FFFFFF;
  padding-bottom: 5%;
}

.join-banner-btn {
  font: bold 30px "utm-bryantlg";
  line-height: 37px;
  letter-spacing: -0.05em;
  text-shadow: 0.3px #90AB26;
  color: #90AB26;
  text-align: center;
  padding: 8px 50px;
  background-color: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  align-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.statistic-div-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.statistic-div-div-content {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.statistic-text-medium {
  font: bold 60px "utm-bryantlg";
  text-align: center;
  line-height: 74px;
  letter-spacing: -0.05em;
  color: #505353;
}

.statistic-number {
  font: bold 60px "utm-bryantlg";
  text-align: center;
  line-height: 74px;
  letter-spacing: -0.05em;
  color: #B2D235;
}

.mess-box {
  position: fixed;
  bottom: 12%;
  right: 4%;
  width: 360px;
  height: 190px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.mess-btn {
  position: fixed;
  bottom: 4.5%;
  right: 4%;
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

.mess-text-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mess-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 12px/16px 'Open Sans';
  letter-spacing: -0.02em;
  color: #7F7F7F;
}

.mess-text.left {
  align-self: flex-start;
  margin: 0 0 -5% 46%;
}

.mess-text.white {
  width: 276px;
  height: 37px;
  background-color: #3184F7;
  border-radius: 10px;
  color: #FFFFFF;
}

.mess-text.white:hover {
  text-decoration: underline;
}

.mess-text.background-grey {
  width: 256px;
  height: 53px;
  background-color: #F1F0F0;
  border-radius: 15px;
  padding: 0px 3px;
}

.mess-img {
  float: left;
  padding-right: 0.5em;
  width: 17px;
  height: 17px;
}

.mess-img-cu {
  float: left;
  margin-left: -10%;
  width: 28px;
  height: 28px;
  padding-right: 8px;
}

.mess-close {
  margin-left: 210%;
  width: 24px;
  height: 24px;
}
